@model ConferenceScheduler.ViewModels.Conference.ConferenceCreateInputModel
@using ConferenceScheduler.Data.Models

<h1>Create conference!</h1>

<div class="col-md-4">
    <form asp-controller="Conference" asp-action="Create" method="post"
          enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div>
            <label asp-for="StartTime"></label>
            <input asp-for="StartTime" class="form-check" />
        </div>

        <div>
            <label asp-for="EndTime"></label>
            <input asp-for="EndTime" class="form-check" />
        </div>

        <div class="form-group">
            <label asp-for="VenueId"></label>
            <select asp-for="VenueId" class="form-control">
                <option value="1">Inter Expo Center</option>
                <option value="2">Sofia Center</option>
                <option value="3">Caneff Center</option>
            </select>
            <span asp-validation-for="VenueId" class="text-danger"></span>
        </div>
   
        <hr />

        <input type="submit" value="Create" class="btn btn-primary" />

    </form>
</div>